// colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #c23b15;

//normalize
@import 'normalize';

//setups
@import 'fonts';
@import 'layout';
@import 'do';
@import 'best';
@import 'reviews';
@import 'popup';
